[2022-07-24 04:23] maniacaris opened #2 "Door Status Noise When Opening/Closing"
Thanks for working on this and getting the boards shipped out so quickly. Overall I'm really pleased with how this is working. One thing I've noticed on my opener is the status reported on the MQTT topic consistently displays the following statuses when I use the open or close commands:

topic/Main Door/**command -> close**
topic/Main Door/**status -> closed** (door just started moving)
topic/Main

[2022-07-24 12:37] PaulWieland commented on #2
What model garage door opener do you have?

Can you connect to the esp to get the serial log?

There is an option within ESP web tools to view the log. Once connected trigger the door and then copy/paste the whole log.

[2022-07-25 01:19] maniacaris commented on #2
It's a Chamberlain B550

**Open via MQTT:**

**Close via MQTT (I've been having issues with ‘excessive closing force’ hence why it opened again):**

**Open via Chamberlain Button:**

**Close via Chamberlain Button:**

[2022-07-25 13:47] PaulWieland commented on #2
At first I thought maybe you had the RPM1 & 2 signal wires reversed, but after studying the log I'm not so sure...

Here's what a "normal" rotary encoder plot looks like:
<img width="804" alt="image" src="https://user-images.githubusercontent.com/4663918/180789143-fa672ae8-cb38-4bea-adbf-83e883754f91.png">

The door started out closed. As the door opens, the counter increments in a nice linear fas

[2022-07-25 13:55] PaulWieland commented on #2
One more thing, take a close up, well lit photo of your soldering on the RPM1 & 2 signals. Maybe you have a solder bridge that is messing up the signal. If you had problems with the myQ app and with the door bouncing open before you soldered the wires for ratgdo, then I really think you have a faulty rotary encoder module.

Here is the rotary encoder module (Chamberlain calls it AC Travel Module):

[2022-07-25 14:31] maniacaris commented on #2
Really interesting insight Paul. Thanks!

The issues with the false closes existed before I soldered the connections so the rotary encoder is certainly something I'll look into. I'll admit my soldering skills and equipment aren't the greatest so that's entirely a possibility and I'll check it out.

[2022-07-29 21:58] switchtower opened #3 "Proper MQTT Status, but unable to send Commands"
Hello,

I received my ratgdo this week and today I attempted to install it.  The Liftmaster I have is a bit older, but I was able to find a 3.3 pin on it to power the device.  It appears the area of the board for the rotary encoder is similar to your picture so I used your soldering suggestion for that.  The obstacle detection works as well.

I'm able to receive opened, opening, closing, closed vi

[2022-07-30 01:11] PaulWieland commented on #3
What’s the model number of the opener?

If you plug it back into the USB port of your computer and visit the esp tools page, you can view the serial log. Send an open or close mqtt command to the opener while the log viewer is open then paste the result here.

I want to verify that it outputs `MQTT: open the door` or `MQTT: close the door`

[2022-07-30 14:29] switchtower commented on #3
send open command

[code]

send another open command

[code]

send close command

[code]

send another close command

[code]
![IMG_1505](https://user-images.githubusercontent.com/2859483/181918862-9414ede2-3931-41e2-8774-5eae96271680.jpeg)
![IMG_1504](https://user-images.githubusercontent.com/2859483/181918865-da64175c-1877-485e-9bdd-cee8a1f1297b.jpeg)
![IMG_1503](https://user-images.githubusercon

[2022-07-30 14:48] switchtower commented on #3
Perhaps related, when i hit the physical button, the door goes down, but then immediately comes back up, here is the output of that:

[code]

[2022-07-30 15:26] PaulWieland commented on #3
I suspect that the 3.3v power source you used may not be able to provide enough current. Try and disconnect the yellow power wire and power the esp from usb instead.

Repeat the oem button test to see if the door opens/closes correctly, and repeat the mqtt test.

Also I don’t see your model number. I can try and look that up by part number later, but I think the model number is on the opposite end

[2022-07-30 17:08] switchtower commented on #3
I've tried a usb power supply as well, a higher amp one, with the yellow cable disconnected, but with same results.

Attached is the model number, sorry about not including that to being with.

![IMG_1506](https://user-images.githubusercontent.com/2859483/181934210-047793cb-4802-4c54-a1a0-688a1c03d9de.jpeg)

[2022-07-30 17:31] Scott--R commented on #3
You can see in the feedback that it detected an obstruction. I know when a garage door opener detects an obstruction it will reverse and go back up. It detects obstructions when either the travel distance or force setting are triggering it. So maybe just re-learn the closing force / travel distance and it will behave?

[2022-07-30 19:14] PaulWieland commented on #3
What’s the model number of your wall mounted button?

[2022-07-30 19:19] switchtower commented on #3
@Scott--R, would connecting to the rotary encoding cause that issue? I tried disconnecting each wire, individually, and only when I disconnected the RPM2 cable did the door finally go down.

@PaulWieland Model 882LM

[2022-07-30 19:49] PaulWieland commented on #3
This is a bit of a mystery.  I did my reverse engineering with the 882LMW. The LM is an older version from what I can tell, but the LMW is supposed to be compatible with your opener.

You wouldn’t happen to have a logic analyzer would you?

[2022-07-30 20:44] switchtower commented on #3
Unfortunately, I don't have a logic analyzer. :(

 Does the opener have to be connected? Can I just use the ratgdo and then use a buttons and the IO ports to control the up/down status?

Can I send the wall mount button to you?

[2022-07-30 21:40] PaulWieland commented on #3
If you’re willing to lend your LM to to assist with the r&d, then I would gladly accept your help. I’ll send it back when finished.

Before you bother shipping it though, send me a close up pic of the LM pcb so I can see what microcontroller it is. Hopefully it’s an stm8

[2022-07-30 23:00] switchtower commented on #3
![IMG_1508](https://user-images.githubusercontent.com/2859483/182002903-43e19044-9e31-4803-9824-d9e9bc414c10.jpeg)

[2022-07-30 23:12] PaulWieland commented on #3
Looks good. It looks basically the same as the LMW. Send me an email if you don’t have my mailing address from the return address when I shipped it to you.

p@ul.sickdimension.com

[2022-07-31 23:55] mterry63 opened #4 "Status of GDO working, Commands not working"
GDO model Chamberlain HD520EVP mfg 08/26/15

MQTT Status following the general physical status of the door, closed, closing, open, opening, obstructed, cleared. Here are the logs begun from an open door position and going through close, then open from the arrow buttons on the GDO logic board and a second set of close then open from the pushbutton on the wall. Also walked through beam after exercis

[2022-08-01 00:39] Scott--R commented on #3
@switchtower  I'm too many beers in tonight to be sure, but the absolute first thing that comes to mind is loading. Any time hardware behaves differently when you connect something to it vs not connecting something to it, it means you're messing with the signals by connecting to it. RPM2 appears to go into the ESP32 module GPIO pin. If that pin has pull up / pull down enabled, it could mess with i

[2022-08-01 14:56] PaulWieland commented on #3
Yes, RPM2 is connected to D2 / GPIO 4. (RPM1 is D1 / GPIO 5)

The impedance of the ESP8266 GPIO is really high. It's only drawing a couple of µA to read the signal from the rotary encoder. Granted, it's a couple µA more than the encoder would otherwise supply, but I would be really surprised if its enough to cause an issue.

[2022-08-01 15:01] PaulWieland commented on #4
As you pointed out, this is the same vintage as the GDO in this [issue](https://github.com/PaulWieland/ratgdo/issues/3), and I think they are related. Whats interesting is that you are using a 882LMW which is the same control panel I use. Presumably yours is older though, and I wonder if the firmware changed.

I'm also going to have a closer look at the signal timing on the older 882LM with my sco

[2022-08-01 15:15] PaulWieland commented on #3
I just published 1.4alpha for you to test (it's available in the ESP Tools installer). It uses soft serial instead of the hardware uart. I am hoping that the issue you are having was being caused by the dynamic switching of the D4 pin from serial to GPIO and back.

This was creating a false voltage when the pin changed state. My test rig doesn't seem to care, but maybe the older GDO hardware does

[2022-08-01 15:16] PaulWieland commented on #4
Please test version 1.4a. ([see here](https://github.com/PaulWieland/ratgdo/issues/3#issuecomment-1201338076))

[2022-08-01 18:31] switchtower commented on #3
@PaulWieland thanks for the hard work.  Once I'm done with work, I'll give this a try.  I already have the code on the ESP, I just need to plug it in and test.

BTW, the PCB is already on its way, if this ends up being the problem, just sent that back, unless you wanted to do some work on it regardless.

[2022-08-01 18:33] PaulWieland commented on #3
Even if this fix works, having your LM button is going to be valuable in ensuring compatibility with all openers. I will be able to tell if they have patched or changed the firmware since 2015.

[2022-08-01 19:02] maniacaris opened #6 "Question - Solder-Free Connection to Rotary Encoder?"
Hi Paul,

Per your advice I bought a replacement rotary encoder and plan to swap them out sometime this week. In looking at it, I noticed the connector has silkscreened labels for VCC, GND, RPM1, and RPM2 along with a few others. It got me thinking about whether I could make up a custom cable with the same JST/XH connector and tap directly off the cable instead of soldering to the board. That woul

[2022-08-01 19:04] switchtower commented on #3
@PaulWieland
The changes you added seemed to fix the rogue/ghost obstruction issue and with proper power, I'm able to get the door to go up and down, reliably using the wall mounted button and the myQ home assistant integration.   If I use the 3.3v power I discovered on the board, the issues come back.

I am not, however, able to use the MQTT commands, here is the output from the console:
[code]
U

[2022-08-01 19:18] PaulWieland commented on #3
The change I made wont affect the door bouncing or erratic messages. It would have only caused the door to respond to the open/close commands.

The door having issues when you power it with the 3.3v pin indicate that the power source you are using is browning out when powering the ESP8266. This is causing the readings for the rotary encoder to be wrong as the sensor is probably being deprived of p

[2022-08-01 19:43] PaulWieland commented on #6
I thought about this when designing it. Problem is finding a female connector for a cable as typically the female part is a socket on a board.

The second problem is that you have to solder the 3.3v pin anyway because the 3.3v supplied to the encoder cannot provide enough current to power the esp8266.

[2022-08-01 19:43] #6 closed

[2022-08-01 20:05] mterry63 commented on #4
I've flashed version 1.4a and will test soon. I was wrong about my wall controller and GDO model, the wall controller is a Chamberlain 041A7185-1 and the GDO is a HD520EVP. The FCC dataplate is the same as the other user and the logic board is exactly the same. I should be able to post testing results within an hour or two.

[2022-08-01 20:34] mterry63 commented on #4
No change when sending commands via 1.4a. Status changes to the command but the GDO does nothing.

[2022-08-01 20:48] PaulWieland commented on #4
Ok. I'm awaiting an older wall control so I can analyze it. Will get back to you as soon as I have had a chance to analyze it.

[2022-08-02 11:52] switchtower commented on #3
it was mailed out yesterday.

[2022-08-08 13:17] PaulWieland commented on #3
I got the LM button hooked up to the debugger and found out that it cannot control my door opener. So first lesson learned is that the security + 2.0 protocol changed somewhere along the line. I'm going to keep prodding, but I may have to source a 2015 era door opener.

[2022-08-08 18:19] switchtower commented on #3
interesting.

I was just going to suggest if I could send you just the logic board from my garage door opener.

Let me know if there's anything else you need.

[2022-08-08 19:17] PaulWieland commented on #3
@switchtower before we go down that road, I have a couple of ideas to try. Assuming you don't mind anyway...

version 1.42a (available from the ESP Tools installer) adds a 500ms delay between each code that is sent to the opener. One hypothesis I have is that the older GDO might have a slower processor. It might be that the original 45ms delay is simply too fast for it to process, but works fine o

[2022-08-08 21:55] mterry63 commented on #4
@PaulWieland I saw your note to the other user to test so I tried version 1.42a and no change. Commands do not work, status does work.

[2022-08-08 22:07] PaulWieland commented on #4
Thanks for the feedback. I think I’m going to have to get ahold of a 2015 logic board

[2022-08-09 00:53] switchtower commented on #3
@PaulWieland I don't see 1.42a, i do see 1.41a though.

[2022-08-09 02:57] PaulWieland commented on #3
[It’s there](https://github.com/PaulWieland/ratgdo/commit/46c1c951ffe4c94038136aaed34ec2b8075c9aea)… maybe your browser cached the old page?

None the less @mterry63 [tested it](https://github.com/PaulWieland/ratgdo/issues/4#issuecomment-1208652879) and didn’t have any luck.

I’m scouring the classifieds for a 2015 opener. I know you offered to send me your logic board, but I would hate for  you t

[2022-08-09 14:25] PaulWieland commented on #3
I just bought a 2015 logic board off of ebay to develop against

[2022-08-12 01:59] maniacaris commented on #2
I replacd the rotary encoder and it doesn't seem to have made a difference. I noticed it seemed to work perfectly when it opens with minimal repeats and a linear progression, but the closing is all over the place if it moves at all. I disconnected RPM1 and RPM2 and it seems to work slightly better now, but I still get the reopens sporadically. I'll try resoldering next.

[2022-08-12 11:00] PaulWieland commented on #2
Unhook the obstruction sensor wire from the shield and test the door again just to rule out some sort of issue being caused by the shield itself.

If you can, get another log from it so we can plot the encoder values.

[2022-08-15 17:10] PaulWieland commented on #3
Well there's good news and there's bad news: The 050DCTB logic board from model year 2015 accepts the commands from ratgdo.

[2022-08-15 17:59] switchtower commented on #3
OK, my board has "45ACBL1" "Rev C" on it.  I never personally texted 1.42a, I might go test that right now.

Paul also, can you elaborate on what you mean by "[it] accepts the commands"? Via MQTT or are you doing something else?  Just wanting to make sure we're testing the same.

[2022-08-15 18:11] PaulWieland commented on #3
@switchtower I'm sending the light / door open/close commands to the opener from ratgdo and the opener is responding (relays are clicking). It dosen't matter if this is done via mqtt or dry contact. the output to 12v line is the same.

Now I'm trying to locate a `45ACBL1` to test with.

[2022-08-15 18:12] switchtower commented on #3
I just tested 1.4a, and here is the output I received from the console:

[code]

[2022-08-15 18:13] PaulWieland commented on #3
@switchtower Test the light function. If it works, the relay will click (and bulb will turn on/off if you have it installed)

[2022-08-15 18:25] switchtower commented on #3
@PaulWieland I tested the light through MQTT, I get a flicker on the LED but that's all, no change with the lights.

Let me know if it would be easier to test on my board then try to source one.

[2022-08-15 19:23] PaulWieland commented on #3
@switchtower yes it would be easier. I can’t find that exact board anywhere at the moment.

[2022-08-15 21:59] mterry63 commented on #4
My logic board is 45ACBR5.

[2022-08-23 17:48] nitej opened #7 "Wired protocol"
Are there any additional details on how the wired rolling protocol is structured/encoded? Does it share similarities with the wireless security + 2.0 protocol? I am interested in analyzing the potential communication back from the opener to the button.

[2022-08-23 17:59] #7 closed

[2022-08-31 12:58] PaulWieland commented on #3
Update on the situation - I acquired an 45 part number series logic board. It seems that 45 series boards do not have onboard wifi and 50 series boards do. I believe that a bug existed on the 45 series that was corrected in the newer 50 series design.

The 45 series openers will not accept messages generated with the same counter. That means if your existing wall mounted opener started at counter

[2022-08-31 13:10] switchtower commented on #3
@PaulWieland thanks for the update, and I apologize for not getting you the board from mine.  I have it ready to go, but due to some life circumstances, I have not had a chance to get it sent out to you.

I'll go ahead and reconnect my board and wait for any updates from you so I can test.

Will newer boards work where a 45 board was originally installed; can I just swap the board for a newer one?

[2022-08-31 13:30] PaulWieland commented on #3
@switchtower  maybe... The `45ACCL1` board I bought to test with has the same connectors as the `50ACCL1` board in my opener. I plugged it in and it seems to work.

However I have another opener board `50DCBL5` that has totally different connectors on it. This board probably came from an opener that had a DC backup battery. I'm theorizing that the 45AC & 50AC boards are 120v AC only, while the boa

[2022-09-02 19:24] mterry63 commented on #3
It's interesting because the manual for my opener says it may be necessary to press the wall button "up to 3 times" for it to sync with the logic board for the 45ACT logic board. It seems to imply it has some kind of sync command, but maybe not the same?

[2022-09-03 14:23] PaulWieland commented on #3
yeah that’s what is supposed to happen - and it does on the 50 series logic board. But if you modify the memory of the wall mounted button and set the counter back to zero, you have to click past the last user counter before the button starts to work again with a 45 series logic board.

[2022-09-04 08:31] Bjoern3003 opened #8 "How to find out RPM1 and rmp2 on other Boards"
Hi,

interesting Project.

Did you know, if there is a way to find out rpm1 and rpm2 on other boards than yours?

I have door opener ML1040EV from CHamberlain with yellow button and want to come back from cloud service.

[2022-09-04 12:42] PaulWieland commented on #8
Have a look at the module in your opener and check to see if it has a 6 wire harness connecting it to the logic board.

This is what the module looks like: https://www.chamberlain.com/ac-travel-module-kit/p/041D7742-7

[2022-09-04 14:18] mterry63 commented on #3
Any timeline on the new update to support 45 series logic cards? I'm trying to decide if I need to deploy an alternate solution using a Sonoff 4CHPRO. I can wait if it's only a couple of weeks.

[2022-09-04 15:07] Bjoern3003 commented on #8
I have took 2 pictures. Not looking like that. 😔

![IMG_20220904_170516](https://user-images.githubusercontent.com/13675579/188320378-a943acc4-259b-47ad-a806-47f5c6207ba0.jpg)
![IMG_20220904_170516](https://user-images.githubusercontent.com/13675579/188320394-717b4f4e-cb5d-4524-873b-e7f6b089d004.jpg)

[2022-09-04 15:17] PaulWieland commented on #3
It’s going to be a while. I have to port 1500 lines of JavaScript to C++

[2022-09-04 19:04] Scott--R commented on #8
Please note that if you're not in North America your opener most likely responds to simple contact closure commands. Your ML1040EV would be one of them. If you short the control terminals together you will most likely find that it works just fine. The encrypted technology as far as I know is only found in North American openers.

[2022-09-04 19:57] Bjoern3003 commented on #8
Very sad ☹️ the project sounds interesting. But the "without soldering method" is not that, what I am looking for.

[2022-09-04 22:09] Scott--R commented on #8
I think perhaps you misunderstood @Bjoern3003 I meant that you should be able to control your garage door opener without requiring the commands from RATGDO. You may still be able to tap the RPM signals somewhere, but I just wanted you to know that in my experience, openers like yours can be operated by simple contact closure, making them much easier to work with.

[2022-09-05 08:37] Bjoern3003 commented on #8
Sure, this is possible, but then I did not get the actual position back as response.

Maybe we can find more peaple to extend this project for other models.

[2022-09-17 18:51] jbbjarnason commented on #8
I have a similar case, with Chamberlain ML810EV.
![PXL_20220917_184355675](https://user-images.githubusercontent.com/15651464/190872165-d17a48a7-6ca8-4afe-ba32-f2c71cbf5056.jpg)

@Bjoern3003 Have you made any progress?

[2022-09-17 18:54] Bjoern3003 commented on #8
Not really. But I am still interested in any solution. Your model looks same like my.

[2022-09-17 20:24] jbbjarnason commented on #8
@Bjoern3003 have you been able to connect it in a soldreless setup? I can't find any information on the pinout on this device.

[2022-09-17 20:52] Bjoern3003 commented on #8
I have to disconnect the complete pcb for that. Sure I can. But I think I am not able to find out the correct pins for rpm1 and 2. 🙁

[2022-09-17 23:30] PaulWieland commented on #8
The pins of the rotary encoder (travel module) for my opener were labeled. Check the pcb and see. If not post a picture of it

[2022-09-18 07:32] Bjoern3003 commented on #8
On the rotary side or pcb side? On pcb is it not labeled and or travel module does only have 3 pins.

[2022-09-18 12:40] PaulWieland commented on #8
On the rotary encoder side. If it only has 3 pins I don’t think it can be a rotary encoder. Do you have a multimeter to check the pins for voltage?

[2022-09-18 13:11] Bjoern3003 commented on #8
Sure I have. Do I have to check during up and down running?

[2022-09-19 12:56] PaulWieland commented on #8
Can anyone find a description of what all the push terminals are for on the back of the opener? This model is nothing like the openers sold in the USA.

[2022-09-19 13:56] Scott--R commented on #8
So these are basically the Merlin openers. If you look up Merlin MT100EVO you'll find more details, but I've attached a screenshot of the terminals and put my own descriptions below:

0 serial communications port

1 and 2 are the wall control (similar to USA), but the strange thing is that even though it is a MyQ opener my experience has been that these types of openers (with push terminals that l

[2022-09-26 21:45] antsar commented on #3
Also interested in 45ACCL1 support. Any way to contribute to the effort? I've got ratgdo shields, a logic analyzer, and JS experience. Glad to spend some time testing/coding if that would help, though I could use a cue where to get started.

[2022-09-26 21:50] PaulWieland commented on #3
I would love some help. Please contact me on iMessage or Signal 518-378-5420

[2022-10-04 12:35] Dulaithol commented on #2
I ran into the issue with my Chamberlain B550 as well and was able to fix it with a software change. From what I can tell the encoder is noisy on this model and causing random values when reading RPM1 and RPM2. My inexpensive logic analyzer didn't show any issues while the ESP8266 was counting more level transitions compared. I am unable to hook a scope up to confirm so this is just a theory.

The

[2022-10-04 13:50] PaulWieland commented on #2
How did you have the logic analyzer wired? I wonder if the grounding of the rotary encoder sensor is different between models.

[2022-10-04 20:41] Dulaithol commented on #2
I had it wired to RATGDO directly so they shared a common ground through the obstruction sensor. Like you said it's possible that internally there are different grounds.

Hoping to barrow my brothers scope this weekend.

[2022-10-04 22:28] PaulWieland commented on #2
I'm going to try implementing a 2ms debounce per your suggestion and see if that fixes it. will need some people to test...

[2022-10-04 22:38] Dulaithol commented on #2
Happy to test.

[2022-10-05 12:44] PaulWieland commented on #2
@Dulaithol can you share your counter plot?
I changed over to using an ISR with 2ms debounce for RPM1/2 and tested, but the plot is not looking so good. As a result I'm getting glitched statuses.
<img width="450" alt="image" src="https://user-images.githubusercontent.com/4663918/194058602-367cc1e0-849d-48e1-a2fb-e864fcc1ba15.png">

Here it is with the ISR enabled, but with debounce turned off:
<im

[2022-10-09 01:05] chrispatin opened #10 "Door position does not decrease when closing"
Hi Paul,

After connecting the board the commands work without no issues. Also the status appears to show the correct results when opening.

However when closing, the door position does not appear to decrement much. Bad connection on RPM1 or RPM2? The garage door appears to operate without issues.

I have attached a serial log. First the door was opened, then it was closed

[serial.log](https://gi

[2022-10-09 01:58] chrispatin commented on #10
I see there is another issue with inconsistent behavior with statuses on door closes.

The sticker on the opener shows part number 050ACTWF

[2022-10-09 03:09] chrispatin commented on #2
@Dulaithol  - I applied your patch and it fixed the issue I was seeing with the status on closing.

[2022-10-09 03:10] chrispatin commented on #10
Duplicate - #2

[2022-10-09 03:10] #10 closed

[2022-10-09 03:19] PaulWieland commented on #10
This seems to be pretty common and I think I can fix it with a software update.

[2022-10-13 09:55] joshpearce opened #11 "mqttTopicPrefix not defined"
I'm probably missing something simple here, but this project will not build with `mqttTopicPrefix` undefined.

[2022-10-13 11:46] PaulWieland commented on #11
https://github.com/PaulWieland/ratgdo/blob/b338c5499409c234139959f25a29aaf788256a0e/src/ratgdo.h#L14

[2022-10-13 12:19] joshpearce commented on #11
Ah, ratgdo branch. Got it! Thanks.

[2022-10-13 12:19] #11 closed

[2022-10-13 12:25] joshpearce commented on #11
Hey, couple other dumb questions here:
1) What is the best way to upload the firmware and then access the setting page? Do I just use "Upload and Monitor" from Platformio?
2) When I was using the released firmware, even if I didn't check the option to "Disable OTA & Web Server Config Access" I could still never again directly hit the IP with browser and bring up the config page. Is that a bug?

[2022-10-13 21:32] PaulWieland commented on #2
I just published version 1.5a (alpha) which uses an ISR + a rudimentary filter to read the rotary encoder. I'm flying blind here because my test openers don't have an issue mis-counting pulses, so I need those affected to test this out and see if it fixes their issue.

[2022-10-13 22:23] Dulaithol commented on #2
I'll give it a test soon.

When I tried using a single interrupt reading of the second pin I was getting unpredictable values. Based on the signal in theory your solution should work.

[2022-10-14 03:15] chrispatin commented on #2
Quick test results:

- The device was reset with the garage door closed. The device incorrectly reports the door position changing, and alternating states between closing / closed.
- Door activated to open (@Obstruction Cleared), the door opens, and after open the log output shows no activity.
- Door activated to close, and after closed the log shows no activity.

Regarding the 'Obstruction Cleare

[2022-10-14 12:35] PaulWieland commented on #2
@chrispatin  Thanks for the test results. Its good news... the counter is perfectly linear in both directions. Now I just have to figure out why the door status is interpreted incorrectly from the values.
<img width="377" alt="image" src="https://user-images.githubusercontent.com/4663918/195848265-22679d4e-5ed7-423a-9efd-6124f65a9e24.png">

[2022-10-14 13:29] chrispatin commented on #2
To ensure we are on the same page, after resetting the device, the door status / door positions are being falsely reported while the door remained closed during the period. Should the device be able to detect the door state accurately after a reset?

After I opened the door, the status appeared correct. What I am not clear on is that after clearing the obstruction, the 'phantom' logs continued for

[2022-10-14 14:05] obstruction commented on #2
Hello,

As the obstruction ***@***.***), I believe I am mistakenly recieving these
emails. Perhaps the intended obstruction is @github?

Thank you!

On Fri, Oct 14, 2022, 6:29 AM Chris Patin ***@***.***> wrote:

[2022-10-15 13:16] PaulWieland commented on #2
My theory is that the ISR is falsely being triggered if the rotary encoder is parked on a high pulse.

This is the only explanation I can come up with given the log file that shows door closing, closed happening repeatedly.

Now to test the theory and come up with a solution…

[2022-10-15 17:36] mterry63 commented on #3
Any update on 45xxx series board support? I bought 3 of the ratgdo cards but no way to use them at this point.

[2022-10-15 23:07] chrispatin commented on #2
Today, I hooked up the laptap while the door was closed and I did not see the previous behavior. The door was opened / closed, and reset ratgdo a few times.

[esp-web-tools-logs (4).txt](https://github.com/PaulWieland/ratgdo/files/9793246/esp-web-tools-logs.4.txt)

I have not seen the issue with the garage keypad flashing (obstruction) for a few days. It happened 3x time today, while the laptop wa

[2022-10-17 13:38] PaulWieland commented on #2
Everyone with this issue, please upgrade to the just released version 1.5 which implements completely new logic for handling the rotary encoder.

If a new problem related to door position detection / door counter exists, please open a new issue.

[2022-10-17 13:38] #2 closed

[2022-10-17 13:40] PaulWieland commented on #3
@mterry63 The current plan is to release a version which has thousands of pre-calculated rolling codes stored in memory which can be used in sequence for these 45 series boards.

[2022-10-17 13:51] Zebble commented on #3
@PaulWieland it appears I have a similar vintage GDO with a slightly newer 45-series board (45DCBR1 - 10/17/2016 - Rev C).  Looks pretty similar to the 45A pictures here but i'll have to do a bit of searching to match the pins.

I have some electronics skills and a decent oscilloscope if you need any analysis done!

[2022-10-17 13:54] Zebble commented on #3
Photo of 45DCBR1 included for reference.
![PXL_20221016_145529111 MP](https://user-images.githubusercontent.com/844791/196195812-43bcd03c-81b7-431d-8bdb-c8559d2c4c43.jpg)

[2022-10-18 21:09] tony-fav opened #15 "Manual Home Assistant YAML - Soldered Install"
I just wanted to share my HA yaml configuration for anyone else interested.

It's a bit more complicated than it could be. It would be significantly simpler if the status topic was split into door_state, obstruction_state, and LWT. Additionally, if state publications were retained, it would know status on HA restart.

This created 4 entities: the cover itself, the light button, the obstruction bin

[2022-10-18 21:16] PaulWieland commented on #15
I think splitting the topics up and adding retention are easy to do at this stage. It will disrupt NodeRED users, but then again NodeRED seems to be far more flexible than HA, so it's not a big deal.

My priority at the moment though is to get a solution for everyone who has a 45 series logic board. Right now nothing works for them.

[2022-10-18 21:18] tony-fav commented on #15
Sounds good. I'll take a look at publication. There's probably no need for a breaking change, could publish to .../status as normal but then .../status/cover .../status/obstruction .../status/LWT as well. Though may take some thinking with the LWT.

[2022-10-18 21:21] PaulWieland commented on #15
https://github.com/PaulWieland/ratgdo/wiki/Example-YAML-file-for-Home-Assistant

[2022-10-18 22:58] joshpearce commented on #15
Is this stuff kosher? There are a couple entries with two unique_ids.

[2022-10-19 00:27] tony-fav commented on #15
A flub of the copy paste. Check now.

[2022-10-19 11:49] PaulWieland commented on #15
@tony-fav I guess to be consistent, it would be better to include examples in the github io pages instead of in the wiki.
[I had reserved a section for examples](https://paulwieland.github.io/ratgdo/05_homeassistant_example.html).

You can issue a pull request to update the docs if you want.

[2022-10-20 21:11] PaulWieland commented on #3
A short update for those 45 series owners patiently waiting for a fix (also from [Issue 3](https://github.com/PaulWieland/ratgdo/issues/3))

I have a proof of concept working with my test board. What I'm doing is pre-generating 10s of thousands of codes and saving them to a file. ratgdo will then keep track of which codes have been used and advance to the next code.

The trick here is that codes a

[2022-10-20 21:14] PaulWieland commented on #4
Duplicate of #3
I will close this one. Please subscribe to Issue #3 as I post updates there.

[2022-10-20 21:14] #4 closed

[2022-10-20 21:29] Zebble commented on #3
Thanks for the update @PaulWieland !  I'm eager to test when it's ready.
As a possible fallback, I also have a 50-series board coming (should be here Tuesday) to try and retrofit in place of the 45DCBR1.

[2022-10-20 22:41] wwsteele opened #17 "50DCCl1MC Revision D board, where to solder?"
![PXL_20221020_215906630](https://user-images.githubusercontent.com/18226582/197072199-93a31669-923f-4948-8fd1-26d066a55cbb.jpg)
I purchased the kit and was excited to get it installed, and I just had a new garage lift installed, manufactured August of this year. The motherboard pictured is what is inside. I cannot locate the 3.3v power, and the rotary encoder connecter has 5 pins instead of 6. Ho

[2022-10-21 00:25] PaulWieland commented on #17
A photo of the other side might help. It would also help to take the rotary encoder/travel module out and see if the pins are labeled on that pcb. The module has a plastic clip that holds it to the motor shaft.

[2022-10-21 01:05] wwsteele commented on #17
Thanks for the reply Paul. They have really changed the internals of this model.
![PXL_20221021_010307089](https://user-images.githubusercontent.com/18226582/197087435-fd81b083-c605-4eec-af1a-e9b3d7fbba52.jpg)

Here is a close up of the 5 pins. I see RPM. But not RPM1/2
![PXL_20221021_005416001](https://user-images.githubusercontent.com/18226582/197087471-17705bf9-78d3-48e4-83d6-c279d11cab2d.jpg)

[2022-10-21 01:22] PaulWieland commented on #17
I'd like to know what the unlabeled 5th pin is:
![Untitled 2](https://user-images.githubusercontent.com/4663918/197088727-dc6ff5c8-cf02-4503-bd3a-1348b0997126.jpg)

Unless you have a scope or a logic analyzer its going to be tough to figure out. Rotary encoders require two pins for two hall effect sensors in order to determine direction. This might be something else.

[2022-10-21 01:48] wwsteele commented on #17
I do not. Well, I guess I'll do the no solder method then.

On Thu, Oct 20, 2022, 9:23 PM Paul Wieland ***@***.***> wrote:

[2022-10-21 01:51] PaulWieland commented on #17
What's the door opener model? I'll see if I can order the module and reverse engineer it.

[2022-10-21 01:56] wwsteele commented on #17
Cool guy! This is an 8160W.

On Thu, Oct 20, 2022, 9:52 PM Paul Wieland ***@***.***> wrote:

[2022-10-25 14:23] Zebble commented on #17
I have a similar board coming today (050DCTBMC).  It has a 5-pin encoder connector, as does my original 45DCBR1 which is why I thought I'd try the 050DCTBMC.  I'll throw a scope/analyzer on the new board when it comes, but @wwsteele would you be able to take a photo of where the wires go into the encoder module and where they go into the logic board?  Just so I can see the colours/wiring order and

[2022-10-25 17:54] wwsteele commented on #17
![Screenshot_20221025_135133_Photos](https://user-images.githubusercontent.com/18226582/197846516-f66265e5-af02-4288-a49e-4ba1e0205c8d.jpg)
![Screenshot_20221025_134901_Gallery](https://user-images.githubusercontent.com/18226582/197846519-a5eaa97a-0727-46bf-a813-008a0271e4c3.jpg)
Cool! Here you go.  @Zebble

[2022-10-25 18:22] Zebble commented on #17
Thanks @wwsteele !  The board I currently have has exactly the same colours/pinout as yours so sounds like we might have the same setup.  I'm hoping to spend some time pinning things out this week/weekend and will post my findings.

It's interesting to note that the 050DCTBMC I just got in has what looks like an identical pin configuration to yours, but the board design is very sparse on the back.

[2022-10-26 03:08] chrispatin opened #18 "Obstruction detected when door is closed"
When the garage door is closed, and the light is turned off, the safety sensor led light goes off. This is detected as an obstruction. If the garage door is open or (closed with the light on) the safety sensors continue to work.

From the manual:

[code]

Three different doors exhibit this behavior. Liftmaster 8355 - (Manufactured: 2019)

[2022-10-26 03:10] tony-fav commented on #18
I have noticed some odd behavior of the obstruction sensor when I was using the light command. This makes it make a bit of sense now. Basically only trust the obstruction sensor is the garage is open?

[2022-10-26 19:47] acvigue commented on #17
I also have a logic board with a 5 pin encoder input. All I've figured out is that RPM1 pulses when the door is moving and it seems to be identical no matter which way the encoder is turning. PP is normally high but gets pulled low three times, once near the top, middle, and bottom of the door travel. You can get enough 3.3V to power the ESP8266 from the center pin of the LM317 voltage regulator (

[2022-10-27 18:31] chrispatin commented on #18
Configurable option for garage door openers with power saving mode? I modified the firmware to ignore obstructions detected when the door is closed. Seems to work well, and keeps the HA history from having false positives.

[2022-10-27 18:45] PaulWieland commented on #18
A couple issues...

- with reed switch installs since `reed_open` and `reed_closed` are up to the installer to decide where to mount the switch.
- with my personal install, I keep the gdo awake by sending it light commands when there is occupancy in the garage (I don't have the bulbs installed). This lets me break the beam 3x with my foot to open the door from the inside.

[2022-10-28 02:26] chrispatin commented on #18
I found some generic information which seemed to state what you mentioned. I tried below and it works.  Just experimenting, and removing one of the last cloud integrations I have left.

`    if ((interruptTime - lastInterruptTime > 250) && (digitalRead(INPUT_OBST) == HIGH)) {`

[2022-10-30 20:21] chrispatin opened #19 "Rotary Encoder Option - Detection of door state on startup"
After a power cycle, the value for the doorState is defaulted to 'reed_closed' (and published on MQTT), and will not reflect the physical state until the door is opened / closed. Any options to detect the physical door state on startup via the hardware?

Curious how the GDO achieves this, is this just an incremental rotary encoder?

[2022-10-31 02:05] PaulWieland commented on #19
The GDO just saves the last state of the door. While possible to do, it didn't really make much sense to do the same thing with ratgdo since the door could move with ratgdo powered off, and it could be wrong anyway.

And no, there isn't any way to know what state the door is in until it starts moving and pulses from the rotary encoder can be counted.

[2022-10-31 15:27] chrispatin commented on #19
The above ask was more geared towards testing changes with HA using message retention, and reducing the probability of invalid states. (stale MQTT data experienced during MQTT connectivity issues, ratgdo restarts, etc)

Still an automation rule based on door state probably should verify the target door state after the rule executes, but reducing the chance of incorrectly firing the rule is desired

[2022-11-10 01:10] Cossid opened #20 "Board 49DCBC3 Status"
I see there are notes of boards starting with 45 or 045 not working whereas 50 or 050 work.  Any idea where a board labeled 49DCBC3 might stand?  It resides inside a Craftsman branded rebadge, mode 049DCTWF.

Unfortunately, I was just doing a preliminary check on an already installed unit to see about compatibility, so I don't have great pictures and was not able to remove the board or see the oth

[2022-11-10 01:33] PaulWieland commented on #20
That's a new number series, probably because its in a craftsman branded opener.
Does it have onboard wifi?

[2022-11-10 01:42] Cossid commented on #20
Yes, it has onboard wifi

![PXL_20221029_221802909](https://user-images.githubusercontent.com/83468485/200979464-83fc86c2-c301-40e3-8a5f-78010e5b0509.jpg)

Interestingly, the fcc label for the board appears shared with a LifeMaster version, and that one has a red PCB with a 50DCxxxxx label: https://fccid.io/HBW1D8169-1/Internal-Photos/Internal-photos-3438872

[2022-11-10 03:08] PaulWieland commented on #20
So from what I can tell based on a limited sample size, the distinction between the two is that 45 boards do not have wifi while 50 boards do. The sync commands are not accepted by the non wifi boards. Regardless, I do have a fix in the works that will make ratgdo work with both.

[2022-11-16 18:41] switchtower commented on #3
@Zebble were you able to retrofit the 50 series board in place of the 45? I'm contemplating doing the same; for some reason now, i can't the remote garage door openers to sync with the opener I was testing on and with all the problems they have, it might be better to just replace them.

[2022-11-17 14:26] Zebble commented on #3
Hey @switchtower.  I haven't done the swap yet, but have gone through some preliminary tracing based on the new board I now have in my hands, and photos of the board that's installed in my opener.  I now have to find some time to remove that board and start bench testing.  I believe things will work as the connectors appear to be the same wire colours, they're just in different locations and possi

[2022-11-17 23:26] acvigue commented on #17
@Zebble did you ever have the chance to work on experimenting with your board?

[2022-11-18 13:18] Zebble commented on #17
Hey @acvigue.  I haven't touched it yet, but do plan to pull out the old board this weekend to bench test and compare it with the new board.

I do suspect the lack of an RPM2 pin was an attempt to simplify their design, albeit by losing the fully closed loop of the other encoder.  They don't really need to know what direction the door is going in if they're already telling it the direction to go i

[2022-11-21 22:05] abishur opened #21 "How to add to esphome?"
Is there anyway to add the install configuration files to esphome so I can manage this device along side my other ESPhome devices?

[2022-11-24 05:19] abishur opened #22 "Garage Door Lockout Ability?"
I was about to install a couple of your board on the garage door openers at my mom's place so I don't need a new special garage door opener when she told me she wanted to swap out the garage door openers with ones that had a "lock out feature"

Apparently the idea here is that when she's home she can turn on a "lock out" mode such that if someone broke into her car and pushed the garage door opene

[2022-11-24 15:23] Scott--R commented on #22
This may be possible if Paul can figure out the “vacation mode” or “lock” command. The Chamberlain wall controls are able to put the openers into a mode where they will ignore wireless remotes.

[2022-11-24 19:57] abishur commented on #22
Lol, I talked to my mom today and when she said "I'm getting a new garage door opener" she meant the button with the lock command.

Once she gets it, if there is a way I can have the program watch the commands sent let me know so I can help out

[2022-11-30 18:16] mterry63 commented on #3
Any update for people with the 45 series boards?

[2022-11-30 18:32] chris1h1 opened #23 "Documentation: Overview of reverse engineering steps"
Is it possible to document a summary of the steps involved in reverse engineering the data that must be transmitted to the garage door opener's logic board in order to open/close the door, and to toggle the light, and implementing this for Arduino (I think line 79 onwards of [ratgdo.h](https://github.com/PaulWieland/ratgdo/blob/main/src/ratgdo.h#L79))?

I have an older Craftsman 139.18405D garage

[2022-11-30 22:00] PaulWieland commented on #23
Are you sure that its not a simple dry contact switch?
Unhook the wires from your wall mounted button and short them out together. If the door opens, then you have a "good" garage door opener that works the way it should. You only need a simple relay board to control the (like a shelly one).